<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Home Page</title>
</head>
<body>
	<h1>This is the Home Page 🏠</h1>	
	<a href="/dog">Go to the Dog Page 🐕</a>
	<a href="/cat">Go to the Cat Page 🐈</a>
	<button>Click me to see an alert</button>
	<script src="/javascript/script.js"></script>
</body>
</html>